{% render 'partials/head.liquid' %}

<main class="container">

  <section class="intro">
    <h1>De mensen van Q42</h1>
    <p>Onze mensen noemen we Q'ers. Maar wie zijn dat dan? Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. En wil je ook Q'er worden, scroll dan even voorbij onze hoofden voor de openstaande vacatures!</p>
  </section>

  <ul class="user-list">
    {% for user in users %}
      <li class="users">
        <label class="avatars-toggle">
          <input type="checkbox" class="visually-hidden">
          {% if user.avatars and user.avatars[0] %}

            <img
              src="{{ user.avatars[0] }}"
              alt="profielfoto van {{ user.name }}"
              width="300"
              height="300"
              loading="lazy"
              class="avatar avatar-0">
          {% endif %}


          {% if user.avatars and user.avatars[1] %}

            <img
              src="{{ user.avatars[1] }}"
              alt="profielfoto van {{ user.name }}"
              width="300"
              height="300"
              loading="lazy"
              class="avatar avatar-1">

          {% else %}
            <p>
              Geen afbeelding beschikbaar
            </p>
          {% endif %}
        </label>


        <div class="text-block">
          <h2>{{ user.name }}</h2>
          <p>{{ user.email }}</p>
        </div>

        {% if user.isLiked %}
          <button class="like-btn">
            <img src="/assets/HeartFilled.svg" alt="is geliked"></button>
        {% else %}
          <form
            method="POST"
            action="/like/{{ user.id }}"
            class="like-form">
            <button type="submit" class="like-btn">
              <img
                src="/assets/HeartEmpty.svg"
                class="like"
                alt="Like" />
            </button>
          </form>
        {% endif %}

        <form
          method="POST"
          action="/mensen-pagina"
          class="message-form">
          <label>{{user.name}}</label>
          <input name="for" hidden value="{{ user.name }}">
          <label for="from-{{ user.id }}">Naam:</label>
          <input
            type="text"
            id="from-{{ user.id }}"
            name="from"
            required>
          <label for="text-{{ user.id }}">Reactie:</label>
          <input
            type="text"
            id="text-{{ user.id }}"
            name="text"
            required>
          <button type="submit">Verzenden</button>
        </form>

         {% if user.messages and user.messages.length > 0 %}
          <ul>
            {% for message in user.messages %}
              <li>{{ message.text }} (van: {{ message.from }})</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Geen berichten voor deze persoon.</p>
        {% endif %}

      {% comment %} 
                                                                                                                                <form
                                                                                                                                  method="POST"
                                                                                                                                  action="/mensen-pagina"
                                                                                                                                  class="message-form">
                                                                                                                                  <input
                                                                                                                                    type="hidden"
                                                                                                                                    name="for"
                                                                                                                                    value="{{ user.id }}">
                                                                                                                                  <label for="from">Naam:</label>
                                                                                                                                  <input
                                                                                                                                    type="text"
                                                                                                                                    id="from"
                                                                                                                                    name="from"
                                                                                                                                    required>

                                                                                                                                  <label for="text">Reactie:</label>
                                                                                                                                  <input
                                                                                                                                    type="text"
                                                                                                                                    id="text"
                                                                                                                                    name="text"
                                                                                                                                    required>

                                                                                                                                  <button type="submit">verzenden</button>
                                                                                                                                </form>


                                                     {% endcomment %}

      </li>
    {% endfor %}
  </ul>

  <section class="vacatures">
    <h3>Ook werken bij Q42?</h3>
    <p>Hou jij van mooie web-, app-, IoT- of VR-dingen programmeren? En van de eindgebruiker verbazen? Dan willen wij graag met jou praten! Want wij zijn altijd op zoek naar knappe koppen. Check dus snel<a href="onze-vacatures">onze vacatures!</a>
    </p>
  </section>

  <article class="vacature">
    <div class="lines"></div>
    <div class="vacature-info">
      <h3>Stage</h3>
      <p>Internship</p>
      <p>Den haag en/of Amsterdam
      </p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>


  <article class="vacature">
    <div class="vacature-info">
      <h3>Open sollicitatie</h3>
      <p>Full-time</p>
      <p>Den haag en/of Amsterdam
      </p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Front-end Developer</h3>
      <p>Full-time</p>
      <p>Den haag en/of Amsterdam
      </p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Ervaren.NET back-end developer</h3>
      <p>Full-time</p>
      <p>Den haag en/of Amsterdam
      </p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Android-developer</h3>
      <p>Full-time</p>
      <p>Amsterdam en/of Den Haag</p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Ervaren Go Developer</h3>
      <p>Full-time</p>
      <p>Den Haag</p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Allround back-end developer(senior)</h3>
      <p>Full-time</p>
      <p>Amsterdam en/of Den Haag</p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>Techlead / senior software engineer</h3>
      <p>Full-time</p>
      <p>Amsterdam en/of Den Haag</p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <article class="vacature">
    <div class="vacature-info">
      <h3>AI-engineer</h3>
      <p>Full-time</p>
      <p>Den haag en/of Amsterdam
      </p>
    </div>
    <img src="/assets/chevron.svg" class="right-arrow">
    <div class="lines"></div>
  </article>

  <a href="https://werkenbij.q42.nl" class="vacature-btn">Bekijk alle vacatures op homerun</a>


</main>

{% render 'partials/foot.liquid' %}